* {
  box-sizing: border-box;
  font-family: 'Segoe UI';
}
form {
  display: flex;
  flex-direction: column;
}
form label,
form input,
form textarea,
form select,
form fieldset,
form button {
  display: block;
}
form input,
form textarea,
form select,
legend input,
form fieldset,
legend label,
form button {
  margin-bottom: 0.3em;
  padding: 0.4em;
}

fieldset input,
fieldset label {
  display: inline-block;
}
