* {
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
}
form label,
form input,
form textarea,
form select,
form legend,
form button {
  display: block;
}
form input,
form button {
  margin-bottom: 0.3em;
  padding: 0.4em;
}
